:root{
    --text-colour: #383838;
}

html{
    font-size: 10px;
}

html, body{
    margin: 0;
    padding: 0;
}

html, body, #root, .App, .fullHeight{
    height: 100%;
    background-color: #E2E2E2;
    color: #383838;
}

.main{
    width: 100%;
    height: calc(100% - 5rem);
    max-width: 1450px;
    padding: 0 20px;
    margin: 0 auto;
}

*, ::before, ::after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 400;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: #f8f9f8;
}

a, a:hover{
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: var(--text-colour);
}

p{
    font-family: 'Nunito', sans-serif;
    color: var(--text-colour);
}

.card-box{
    border-radius: 30px;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1);
  background: #f8f9f8;
  padding: 25px;
}

